@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.landpage {
  padding-left: 200px;
  padding-right: 200px;
  background-image: url("./images/background.png");
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
nav {
  padding-top: 40px;
  width: 100%;
  height: 100px;
}
nav > span {
  color: white;
  width: fit-content;
}
nav {
  display: flex;
  align-items: center;
}

.nav-theme-change {
  display: flex;
  height: 30px;
  width: 60px;
  border-radius: 100px;
  background-color: white;
  margin-left: auto;
  align-items: center;
}
.nav-wrapper-2 {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 15px;
  font-size: 18px;
}
.nav-wrapper-1 {
  display: flex;
  gap: 45px;
  font-size: 16px;
}
.nav-theme-change-btn {
  background-color: black;
  height: 25px;
  margin-left: 5px;
  width: 25px;
  border-radius: 100px;
}
.nav-theme-change-btn:hover {
  background-color: rgb(147, 147, 147);
  cursor: pointer;
}
.nav-about-me:hover {
  cursor: pointer;
  color: rgb(107, 101, 101);
}
.nav-skills:hover {
  cursor: pointer;
  color: rgb(107, 101, 101);
}
.nav-projects:hover {
  cursor: pointer;
  color: rgb(107, 101, 101);
}
.nav-contact:hover {
  cursor: pointer;
  color: rgb(107, 101, 101);
}
.nav-language-btn:hover {
  cursor: pointer;
  color: rgb(107, 101, 101);
}
#personal-pic {
  width: 400px;
  height: 425px;
  margin-left: auto;
  align-self: flex-end;
  position: relative;
  top: 10%;
}
.large-circle-1 {
  position: relative;
  left: 97%;
  bottom: 50%;
}
.large-circle-2 {
  position: relative;
  left: 93%;
  bottom: 5%;
}
.small-circle {
  position: relative;
  left: 97%;
  bottom: 5%;
}
.square-medium {
  position: relative;
  left: 60%;
  bottom: 25%;
}
.square-small {
  position: relative;
  left: 58%;
  bottom: 80%;
}
.paragraph {
  position: absolute;
  top: 30%;
  width: 42%;
  color: white;
  font-weight: 400;
  font-size: 50px;
}

/**section 2 css**/
.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.skills {
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
  height: 100vh;
  width: auto;
  background-color: #161515;
  display: flex;
  flex-direction: column;
}
.skills-title {
  color: white;
  margin-left: auto;
  font-weight: 500;
  font-size: 65px;
  font-family: poppins;
  margin-right: auto;
}
.skills-wrapper {
  margin-top: 150px;
  width: 100%;
  height: 50%;
  gap: 1.4%;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
}
.skills-wrapper > span {
  width: 90%;
  border-radius: 30px;
  height: 150px;
  background-color: white;
}
